body {

  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  border: 5px solid #c65314; 
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  color-scheme: light dark;
}

h1 {
  color: #545454;
}

.Home-contentForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100vw;

}

.Home-form {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 380px;
  background-color: #ffe7db;
  justify-content: space-evenly;
  border-radius: 3px;
  margin: 15px;
  padding: 0;

}

.Home-input {
  border: solid 1px #c65314;
  padding: 10px;
  width: 250px;

}

.Home-input:focus {
  border-color: #fff3ee;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #545454
}

.Home-header {
  display: flex;
  font-family: 'Prompt', sans-serif;
  font-size: 150px;
  color: #c65314;
  text-align: center;
}

.Home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-msnwelcome {
  display: flex;
  font-size: 25px;
  text-align: center;
  color: #545454
}

.Home-enlace {
  font-size: 20px;
}

button {
  font-size: 20px;
  border-radius: 3px;
  padding: 10px 10px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  cursor: pointer;
  width: 300px;
}

button:hover {
  color: black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Home-buttonEstado {
  background-color: #c65314;
}

.Home-buttonGoogle {
  background-color: #ff8243;
}

.button-LogOut {
  width: 150px;
  background-color: #c65314;
  margin: 15px;
  text-align: center;
}

.button-addnote {
  width: 150px;
  background-color: #c65314;
  margin: 15px;
  text-align: center;
}

.button-Search {
  width: 150px;
  background-color: #c65314;
  margin: 15px;
  text-align: center;
}

a {
  font-weight: 500;
  color: #545454;
  text-decoration: inherit;
}

a:hover {
  color: #c65314;
}

.Muro-container {
  display: flex;
}
.input-search {
  width: 300px;
  height: 30px;
  font-size: 20px;
}
/* .Muro-note {
  display: flex;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  width: 100%;

} */

.Navbar-structure {
  /* border-right: 5px solid #c65314; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  background-color: #f8e3d8;
}

.Muro-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-top: 5px solid #c65314;
  max-height: 1000px;
  scroll-behavior: auto;
  overflow-y: scroll
}

.Note-form {
  width: 700px;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  height: 300px;
  justify-content: space-between;
}

.notas-pending {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #000;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 50px;
  width: 700px;
  padding: 10px;
  font-size: 20px;
}

dialog {
  min-height: 300px;
  min-width: 500px;
 
}
#status{
  min-height: 40px;
  min-width: 200px;
  font-size: 20px;
}
textarea {
  font-size: 20px;
}
.bienvenida1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  align-items: center;
  color:bold black;
  font-size: 30px;
}
.bienvenida2 {
  font-size: 14px;
  width:10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    font-size: 20px;
  }

  a:hover {
    color: #c65314;
  }

  button {
    background-color: #f9f9f9;
  }
}